
  
  /* .mat-table {
    overflow: auto;
    max-height: 500px;
  } */

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .space {
      height: 40px;
  }

  .editRow{
    background: darkgoldenrod;
  }
  .cursorclass{
    cursor: pointer;
  }
.mat-form-field{
    width: 100px
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  min-width: 50px;
  line-height: 30px;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  font-size: 9px;
  padding:0 7px;
}

.mat-checkbox {
  margin-right: 22px;
}

.mat-header-row{
  position: fixed;
  top: 67px;
  z-index: 99;
  width: 96%;
  padding: 0 24px;
  background: #808080;
  color: white;
}

.mat-table{
  margin-top: 175px;
}

.mat-header-cell{
  color:white;
}

.top-fixed{
  position: fixed;
  top: 0px;
  background: #808080;
  color: white;
  padding-left: 24px;
  padding-right: 23px;
  border: 1px solid #808080;
  width: 96%;
  z-index: 99;
}

.mat-cell{
  border-right-color: rgba(0,0,0,.12);
  border-right-width: 1px;
  border-right-style: solid;
  height: 48px;
  line-height: 48px;
  text-align: center;
  white-space: nowrap;
}
 







