<div *ngIf=" !releaseService.page || releaseService.page === 'releasecontent' ">
    <h2>Release Content
        <mat-icon svgIcon="edit" *ngIf="!releaseService.page" class="cursorclass" [ngStyle]="{'background-color': 'blanchedalmond'}"
            (click)="gotoEditReleaseContentPage()"></mat-icon>
    </h2>
    <div style="">
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="releaseDataList" *ngIf="loading">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        <h2> Type </h2>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="element.id && element.id !== '' && !element.elementStatus">
                            {{element.name}}
                        </div>
                        <mat-form-field *ngIf="element.elementStatus ==='new' || element.elementStatus ==='edit'">
                            <mat-select placeholder="Select Type" [(ngModel)]="releaseData.name">
                                <mat-option *ngFor="let type of taskTypeList" [value]="type">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="label">
                    <mat-header-cell *matHeaderCellDef>
                        <h2> Label </h2>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="element.id && element.id !== '' && !element.elementStatus">
                            {{element.label }}
                        </div>
                        <mat-form-field *ngIf="element.elementStatus ==='new' || element.elementStatus ==='edit'">
                            <input matInput placeholder="Label" [(ngModel)]="releaseData.label">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container *ngFor="let rel of releaseList" [matColumnDef]="rel">
                    <mat-header-cell *matHeaderCellDef>
                        <h2> {{rel}} </h2>
                        <div> <span> <b>Planed</b> </span><span><b>Delivered</b></span> </div>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">

                        <span *ngIf="element[rel] && element.id && element.id !== '' && !element.elementStatus">
                        <mat-checkbox
                            [(ngModel)]="element[rel].needToBeDeliver"
                            [disabled]="true"
                            [ngStyle]="{ 'margin-right': '21px;' }"
                        ></mat-checkbox>
                        <mat-checkbox
                            [(ngModel)]="element[rel].delivered"
                            [disabled]="true"
                        ></mat-checkbox>
                    </span>
                        <span *ngIf="element[rel] && ( element.elementStatus ==='new' || element.elementStatus ==='edit' )">
                        <mat-checkbox
                            [ngClass]="classname"
                            (change)="onChangeTBDStatus($event,rel)"
                            [(ngModel)]="element[rel].needToBeDeliver"
                        ></mat-checkbox>
                        <mat-checkbox
                            [ngClass]="element[rel].validation"
                            (change)="onChangeDeliverStatus($event,rel)"
                            [(ngModel)]="element[rel].delivered"
                            [disabled]="element.elementStatus ==='new' || (element.elementStatus ==='edit' && !element[rel].needToBeDeliver )"
                        ></mat-checkbox>
                    </span>
                    </mat-cell>
                </ng-container>
                <!-- Color Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef>
                        <h2> Actions </h2>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <div *ngIf="element && element.id && element.id !== '' && !element.elementStatus">
                            <mat-icon svgIcon="edit" class="cursorclass" (click)="editRelease(element)"></mat-icon>
                            <mat-icon svgIcon="clear" class="cursorclass" (click)="confirmDialog(element.id)"></mat-icon>
                        </div>
                        <button *ngIf="element.elementStatus ==='new' || element.elementStatus ==='edit'" class="floatright" mat-raised-button color="primary"
                            (click)="onSubmitNew($event)" [disabled]="!isValidRelease()"> {{ element.elementStatus ==='new' ? 'CREATE' : 'SUBMIT'}} </button>
                        <button *ngIf="( element.elementStatus ==='new' || element.elementStatus ==='edit' ) && isValidRelease()" class="floatright"
                            mat-raised-button color="primary" (click)="resetReleaase($event)" [disabled]="!isValidRelease()"> {{ element.elementStatus ==='new' ? 'RESET' : 'CANCEL'}} </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.id === releaseData.id && !row.elementStatus ? 'editRow' : ''"></mat-row>
            </mat-table>
        </div>
    </div>
</div>