<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>
<div *ngIf=" !releaseService.page || releaseService.page === 'releasecalendar' ">
  <h2>Release Calendar</h2>
  <div style="text-align:center">
    <div class="example-container mat-elevation-z8">
      <div *ngIf="!loading">
        <mat-spinner></mat-spinner>
      </div>
      <mat-table #table [dataSource]="relCalendar" *ngIf="loading">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="releaseDrop">
          <mat-header-cell *matHeaderCellDef>
            <h2> Drop </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.releaseDrop}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="deliveryType">
          <mat-header-cell *matHeaderCellDef>
            <h2> Delivery Type</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.deliveryType}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="label">
          <mat-header-cell *matHeaderCellDef>
            <h2> Label </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.label}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="actDate">
          <mat-header-cell *matHeaderCellDef>
            <h2> Actual Date</h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.actDate ? ( element.actDate | amLocal | amDateFormat: 'YYYY-MM-DD' ) : '- -' }} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="planDate">
          <mat-header-cell *matHeaderCellDef>
            <h2> Plan Date </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.planDate | amLocal | amDateFormat: 'YYYY-MM-DD'}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="version">
          <mat-header-cell *matHeaderCellDef>
            <h2> Version </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.version}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>
            <h2> Status </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>
            <h2> Actions </h2>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon svgIcon="edit" class="cursorclass" (click)="editRelease(element)"></mat-icon>
            <mat-icon svgIcon="clear" class="cursorclass" (click)="openDialog(element.id)"></mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.id === release.id ? 'editRow' : ''"></mat-row>
      </mat-table>
    </div>
  </div>
  <div class="example-container" *ngIf="releaseService.page === 'releasecalendar'">
    <table class="example-full-width" cellspacing="0">
      <tr class="space"></tr>
      <tr *ngIf="isNewRelease">
        <td>
          <mat-form-field>
            <mat-select placeholder="Select Drop" [(ngModel)]="release.releaseDrop">
              <mat-option *ngFor="let drop of dropList" [value]="drop.value">
                {{ drop.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <!-- Select Release -->
          <mat-form-field>
            <mat-select placeholder="Select Release" [(ngModel)]="release.deliveryType">
              <mat-option *ngFor="let delivery of deliveryList" [value]="delivery.value">
                {{ delivery.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Label" [(ngModel)]="release.label">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="planDate" placeholder="Plan Date" [(ngModel)]="release.planDate">
            <mat-datepicker-toggle matSuffix [for]="planDate"></mat-datepicker-toggle>
            <mat-datepicker #planDate></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput placeholder="Version" [(ngModel)]="release.version">
          </mat-form-field>
        </td>
        <td *ngIf="release.id && release.id !== ''">
          <mat-form-field>
            <input matInput [matDatepicker]="actDate" placeholder="Actual Date" [(ngModel)]="release.actDate">
            <mat-datepicker-toggle matSuffix [for]="actDate"></mat-datepicker-toggle>
            <mat-datepicker #actDate></mat-datepicker>
          </mat-form-field>
        </td>

        <td *ngIf="release.id && release.id !== ''">
          <mat-form-field>
            <mat-select placeholder="Status" [(ngModel)]="release.status">
              <mat-option *ngFor="let status of releaseStatus" [value]="status.value">
                {{ status.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <button class="floatright" mat-raised-button color="primary" (click)="onAddNewReleaase($event)"> {{ isNewRelease ?  'Hide' : 'Add New Release' }}</button>
        <button *ngIf="isNewRelease" class="floatright" mat-raised-button color="primary" (click)="resetReleaase($event)"> Reset </button>
        <button *ngIf="isNewRelease" class="floatright" mat-raised-button color="primary" (click)="onSubmitNew($event)" [disabled]="!isValidRelease()"> Submit </button>
      </tr>
    </table>
  </div>
</div>