/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color:green;    
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
    /* background-color: #b0b0b0; */
    background-color: green;
}

.MISSED.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color:lightsalmon
}

.SLIP.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color:red;
}

.SLIP.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame{
    background-color:red;
}

.MISSED.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame{
    background-color:lightsalmon;
}

.unplannedClass.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    border:2px solid red;
}